/*TOP MENU HIDE*/

.flex-top-banner {
  display: none;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 104px;
  z-index: 999;
  background-color: #fff;
  padding: 20px 0 21px 30px;
  line-height: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.flex-top-banner > div,
.top-menu-transparent > div {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.help {
  margin-left: 30px;
  vertical-align: middle;
  color: #004d80;
  border: 2px solid #005173;
  background-color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.help > span{
  margin-left: 10px;
}

/*MENU*/

nav.top-menu {
  display: flex;
  align-items: center;
}

nav.top-menu a {
  padding: 7px;
  text-decoration: none;
  font-weight: 400;
  margin-right: 40px;
}

nav.top-menu a:hover {
  text-decoration: underline;
}

nav.top-menu a:last-child {
  margin-right: 0;
  padding-right: 29px;
}

.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

ul.submenu {
  display: block;
  position: absolute;
  width: 150px;
  right: 0;
  top: 85px;
  opacity: 1;
  transition: all 500ms ease;
  transform: rotateX(-90deg);
}

ul.submenu:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: -25px;
  height: 25px;
}

ul.submenu > li {
  display: block;
}

ul.submenu > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

ul.submenu > li > a:hover {
  text-decoration: underline;
}

.menu:hover > ul.submenu {
  display: block;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.flex-top-banner nav.top-menu a {
  color: #0b2a37;
  background-color: #ffffff;
}

.flex-top-banner ul.submenu {
  background-color: white;
  border: 1px solid #ffffff;
}

.flex-top-banner ul.submenu:after {
  background-color: #ffffff;
}

.flex-top-banner ul.submenu > li > a {
  color: #0b2a37;
  background-color: #ffffff;
}