footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #0b2a37;
  position: relative;
  padding: 75px 0 75px 85px;
}

.footer-logo {
  flex: 3;
}

.footer-logo > div {
  display: flex;
  align-items: center;
  margin-top: 33px;
}

.footer-logo > div > img {
  height: max-content;
  margin-right: 8px;
}

.footer-logo h6 {
  margin: 0 8px 0 0;
}

.footer-lft-column {
  position: relative;
  flex: 1;
}


.footer-lft-column > ul {
  list-style: none;
  padding: 0;
}

.footer-lft-column > ul > li {
  color: #ffffff;
  opacity: 0.8;
  line-height: 30px;
}

.footer-lft-column > h6 {
  margin: 0 43px 43px 0;
}

