body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

header {
  max-width: 1440px;

}

button {
  padding: 13px 19px 13px 17px;
  border-radius: 6px;
  opacity: 0.9;
  font-size: 16px;
  font-family: 'Maven Pro - Bold', sans-serif;
  font-weight: 700;
  line-height: 100%;
  cursor: pointer;
}

button:focus {
  outline: none !important;
}

