@font-face {
font-family: "Maven Pro-Black";
src: url("../fonts/MavenPro-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Maven Pro-Bold";
  src: url("../fonts/MavenPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Maven Pro-Medium";
  src: url("../fonts/MavenPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Maven Pro-Regular";
  src: url("../fonts/MavenPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Maven Pro-Regular', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

header {
  max-width: 1440px;
}

button {
  padding: 13px 19px 13px 17px;
  border-radius: 6px;
  opacity: 0.9;
  font-size: 16px;
  font-family: 'Maven Pro - Bold', sans-serif;
  font-weight: 700;
  line-height: 100%;
  cursor: pointer;
}

button:focus {
  outline: none !important;
}

h1 {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  color: #8ae2e2;
  font-family: 'Maven Pro-Black', sans-serif ;
  font-size: 80px;
  font-weight: 400;
  line-height: 100px;
  margin: 0;
}

h2 {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-family: 'Maven Pro-Black', sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 100px;
  margin: 0;
}



