.our-preferences {
  display: block;
  width: 100%;
}

.our-preferences > img {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;
}

.preference {
  display: flex;
  align-items: stretch;
  background-color: #005173;
  margin-top: -205px;
  position: relative;
}

.preference h2 {
  color: #ffffff;
}

.preference > nav,
.preference > div {
  flex: 1;
  align-self: center;
}

.preference > nav {
  margin: 9% auto 9% 7%;
}

.preference > nav > ul {
  list-style: none;
  padding: 0;
  width: 80%;
}

.preference > nav > ul > li {
  color: #ffffff;
  margin-top: 46px;
  position: relative;
}

.preference .button-find {
  margin-top: 60px;
  background-color: transparent;
}

.preference > div > img {
  content: url('../logo/logo-shape.png');
  position: absolute;
  width: 40%;
  bottom: 0;
  right: 0;
}

.preference > nav > ul > li:before {
  content: '';
  position: absolute;
  border-top: 2px solid #8ae2e2;
  height: 1px;
  width: 50px;
  top: -10px;
  left: 0;
}