.flex-top-banner {
  display: none;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  padding: 20px 0 20px 30px;
  line-height: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  max-width: 1440px;
  min-width: 480px;
}

.flex-top-banner > div > img {
  width: 45%;
}

.flex-top-banner > div,
.top-menu-transparent > div {
  display: flex;
  align-items: center;
}

.flex-top-banner .button-help-center {
  color: #004d80;
  border: 2px solid #005173;
  margin-left: 30px;
  vertical-align: middle;
}

.flex-top-banner .button-help-center > span{
  margin-left: 3px;
}

nav.top-menu {
  display: flex;
}

nav.top-menu a {
  padding: 7px;
  text-decoration: none;
  color: #0b2a37;
  line-height: 38px;
  margin-right: 37px;
}

nav.top-menu a:hover {
  text-decoration: underline;
}

.top-menu > .menu > a {
  margin-right: 0;
  padding-right: 29px;
}

.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu > img {
  width: 20%;
}

ul.submenu {
  display: block;
  position: absolute;
  width: 150px;
  right: 0;
  top: 76px;
  opacity: 1;
  transition: all 500ms ease;
  transform: rotateX(-90deg);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}

ul.submenu:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: -25px;
  height: 25px;
}

ul.submenu > li {
  display: block;
}

ul.submenu > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

ul.submenu > li > a:hover {
  text-decoration: underline;
}

.menu:hover > ul.submenu {
  display: block;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.flex-top-banner ul.submenu {
  background-color: white;
  border: 1px solid #ffffff;
}

.flex-top-banner ul.submenu:after {
  background-color: #ffffff;
}

.flex-top-banner ul.submenu > li > a {
  color: #0b2a37;
  background-color: #ffffff;
}

.carousel > .button-call {
  display: none;
  position: absolute;
  right: 2%;
  bottom: 3%;
  z-index: 100;
}