.recalls {
  display: block;
  width: 100%;
  margin-bottom: 95px;
}

.recalls > img {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;
}

.recalls-panel {
  margin-top: -200px;
  background-color: #ffffff;
  position: relative;
}

.recalls-panel > h4 {
  padding-top: 50px;
  text-align: center;
}

.recalls-panel > div {
  display: grid;
  padding: 0 40px;
  justify-items: start;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 67px;
  grid-row-gap: 50px;
}

.text-p {
  color: #0b2a37;
  background: url('../logo/fon.png') no-repeat;
  background-size: 100% 100%;
  padding: 40px 25px 55px 22px;
  margin: 0;
}

.profile {
  text-align: right;
  position: relative;
}

.profile > p {
  margin: 0 20% 0 0;
}

.profile > img {
  position: absolute;
  right: 5%;
  top: 0;
}

.text-p-name {
  color: #0b2a37;
  font-weight: 700;
  line-height: 26px;
  font-family: 'Maven Pro-Black', sans-serif;;
}

.text-p-career {
  color: #0b2a37;
  line-height: 26px;
}