.search-top {
  width: 100%;
  display: flex;
  background-color: rgba(223, 240, 240, 0.5);
  justify-content: center;
  align-items: center;
}

.search-top > .text {
  color: #0b2a37;
  line-height: normal;
}

.search-top > .text > .link {
  text-decoration: underline;
}
