.specialists {
  margin: 50px 41px 140px 41px;
  text-align: center;
}

.grid-container {
  display: grid;
  justify-items: center;
  align-items: stretch;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
}

.grid-container > h6 {
  color: #0b2a37;
  margin: 10px;
}

.grid-container > span {
  color: #0b2a37;
  margin: 0 20px;
}